* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  max-width: 75%;
  margin: auto;
  padding: 20px;
}
@media (max-width: 768px) {
  body {
    max-width: 95%;
    padding: 10px;
  }
}

/*Dashboard Menu Page Styles*/

/*Dashboard Orders Page Styles*/

/*Dashboard Users Page Styles*/

.sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: start;
  gap: 20px;
  width: 250px;
  background-color: #777;
  color: #333;
  padding-top: 20px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
